
 #sidebar {
 
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
text-align: center;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);

}

#content2 {

  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content4 {

  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


footer {
 
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}



