#sidebar {
    background-color: rgb(226, 203, 248);
  
}
#content1 {
    background-color: rgb(215, 247, 215);
    
}
#content2 {
    background-color: rgb(255, 237, 213);
   


}
#content3  {
    background-color: rgb(245, 182, 159);
   

}
#content4{
    background-color: rgb(226, 142, 159);
   

}

#content5{
    background-color: rgb(217, 167, 230);
    

}

footer {
    background-color: rgb(215, 215, 240);

}


nav {
    background-color: rgb(236, 209, 199);
}

main {
    background-color: rgb(203, 239, 248);
}

footer {
    background-color: rgb(194, 185, 161);
}