#b {
    background-color: rgb(226, 203, 248);
  
}
#c {
    background-color: rgb(215, 247, 215);
    
}
#d {
    background-color: rgb(255, 237, 213);
   


}
#row {
    background-color: rgb(245, 182, 159);
   

}
#g{
    background-color: rgb(226, 123, 144);
   

}

.final {
    background-color: rgb(99, 71, 2);
    

}

nav {
    background-color: rgb(215, 215, 240);

}
.row-ef {
    background-color: rgb(192, 131, 131);
 
    
 }

 .row-gh {
     background-color: darkslategray;
 }